.sidebar-main {
    width: 25%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 0;
    background-color: #cc90cc;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
    padding-left: 20px;
}

.side-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-links {
    font-family: "pangolin";
}


.profile-img {
     border-radius: 50%;
     box-shadow: 1px 1px 3px;
}

small, h3, p {
    font-family: 'pangolin';
    
}

.author-bio {
    font-size: 2vw;
}

